.ContainerTours{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headTour{
    width: 100%;
    text-align: center;
}

.image1 { grid-area: one;}
.image2 { grid-area: two; }
.image3 { grid-area: three; }
.image4 { grid-area: four; }
.image5 { grid-area: five; }
.image6 { grid-area: six; }
.grid-container {
    display: grid;
    grid-template-areas:
      'one one one  two two'
      'one one one three four'
      'five five five six six six';
    gap: 10px;
    width: 100%;

}
.image1{
  width: 50px;
}


